<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="templates/posts/styles.css">
</head>
<body>
    <div class = "orasVreme">
        <p>Cluj Napoca, RO</p>
    </div>

    <div class = "divDreaptaText">
        Presiune
    </div>

    <div class = "divDreapta">
        <img class = "icon" src = "poze/presiune.png" alt = "Icon_Vreme">
    </div>

    
    <div class = "divDreaptaJos">
        Valoare
    </div>

    <div class = "divDreaptaTextClear">
        Umiditate
    </div>

    <div class = "divDreapta">
            <img class = "icon" src = "poze/umiditate.png" alt = "Icon_Vreme">
    </div>

    
    <div class = "divDreaptaJos">
        Valoare
    </div>

    <div class = "divDreaptaTextClear">
        Sansa de ploaie
    </div>

    <div class = "divDreapta">
            <img class = "icon" src = "poze/ploaie.png" alt = "Icon_Vreme">
    </div>

    
    <div class = "divDreaptaJos">
        Valoare
    </div>



    <section id = "top"> 
        <div class = "divIcon">
            <img class = "icon" src = "poze/sun_rain.png" alt = "Icon_Vreme">
        </div>
        
        <div id = "vreme">
            12 grade
        </div> 
    </section>

    <section id = "bottom">
        <div class = "divText">
            Luni
        </div>
        <div class = "divText">
            Marti
        </div>
        <div class = "divText">
            Miercuri
        </div>
        <div class = "divText">
            Joi
        </div>
        <div class = "divText">
            Vineri
        </div>
        <div class = "divText">
            Sambata
        </div>
        <div class = "divText">
            Duminica
        </div>

        <div class = "break"></div>

        <div class = "divIcon">
            <img class = "icon hover" src = "poze/Weather_CloudRain.png">
            <p class="text">15 grade / 5 grade</p>
        </div>
        <div class = "divIcon">
            <img class = "icon hover" src = "poze/Weather_CloudSnow.png">
            <p class="text">text</p>
        </div>
        <div class = "divIcon">
            <img class = "icon hover" src = "poze/Weather_CloudSun.png">
            <p class="text">text</p>
        </div>
        <div class = "divIcon">
            <img class = "icon hover" src = "poze/Weather_SunAbstract.png">
            <p class="text">text</p>
        </div>
        <div class = "divIcon">
            <img class = "icon hover" src = "poze/Weather_CloudThunderRain.png">
            <p class="text">text</p>
        </div>
        <div class = "divIcon">
            <img class = "icon hover" src = "poze/Weather_CloudSunRAin.png">
            <p class="text">text</p>
        </div>
        <div class = "divIcon">
            <img class = "icon hover" src = "poze/Weather_SunAbstract.png">
            <p class="text">text</p>
        </div>
    </section>



   

    
</body>
</html>